.place-list {
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    width: 90%;
    max-width: 40rem;
    font-size: 1.4rem;
}

.card-white a{
    display: flex;
    align-items: center;
    color: #fff;
    background: #292929;
    text-decoration: none;
    padding: 1.5rem;
    justify-content: space-evenly;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: .6rem;
}

.card-white a:hover,
.card-white a:active {
    background: #ffd900;
    color: #292929;
    border: solid 1px #292929;
    outline: none;
    font-weight: 700;
}
  